# NetBeans specific
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
/programmingLessons/Eksamensopgaver/vop15Eksamen/nbproject/private/
/programmingLessons/Eksamensopgaver/vop15ReExamF15/nbproject/private/
/programmingLessons/Eksamensopgaver/OOPExam2012/nbproject/private/