# NetBeans specific
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
/programmingLessons/Eksamensopgaver/vop15Eksamen/nbproject/private/
/programmingLessons/Eksamensopgaver/vop15ReExamF15/nbproject/private/
/programmingLessons/Eksamensopgaver/OOPExam2012/nbproject/private/
/programmingLessons/Eksamensopgaver/VOPExam2014/nbproject/private/
/programmingLessons/Liang_assignments/Liang_20/Liang_20_6/nbproject/private/
/programmingLessons/Liang_assignments/Liang_7/Liang_7_15_eliminateDuplicatesInArray/nbproject/private/
/programmingLessons/Liang_assignments/Liang_7/Liang_7_18_bubbleSort/nbproject/private/
/programmingLessons/Liang_assignments/Liang_7/Liang_7_26_StrictlyIdenticalArrays/nbproject/private/
/programmingLessons/Eksamensopgaver/aldus1717VOPReEksamenF18/nbproject/private/
/programmingLessons/Liang_assignments/Liang_12/Liang_12_13_CountCharactersWordsAndLinesInAFile/nbproject/private/
/programmingLessons/Liang_assignments/Liang_12/Liang_12_14_ReadingInASortedFile/nbproject/private/
/programmingLessons/Liang_assignments/Liang_12/Liang_12_16_ReplaceText/nbproject/private/
/programmingLessons/Liang_assignments/Liang_12/Liang_12_17_GameHangMan/nbproject/private/
/programmingLessons/Liang_assignments/Liang_12/Liang_12_22_ReplaceTextAllStrings/nbproject/private/
/programmingLessons/Liang_assignments/Liang_12/Liang_12_25_ProcessLargeDataset/nbproject/private/
/programmingLessons/Liang_assignments/Liang_12/Liang_12_26_CreateADirectory/nbproject/private/
/programmingLessons/Liang_assignments/Liang_12/Liang_12_27_ReplaceWords/nbproject/private/
/programmingLessons/Liang_assignments/Liang_12/Liang_12_28_RenameFiles/nbproject/private/
/programmingLessons/Liang_assignments/Liang_12/Liang_12_30_OccurrencesOfEachLetter/nbproject/private/
/programmingLessons/Liang_assignments/Liang_17/Liang_17_1_CreateATextFile/nbproject/private/
/programmingLessons/Liang_assignments/Liang_17/Liang_17_2_CreateABinaryDataFile/nbproject/private/
/programmingLessons/Liang_assignments/Liang_17/Liang_17_5_StoreObjectsAndArraysInAFile/nbproject/private/
/programmingLessons/Liang_assignments/Liang_17/Liang_17_6_StoreLoanObjects/nbproject/private/
/programmingLessons/Liang_assignments/Liang_17/Liang_17_7_RestoreObjectsFromAFile/nbproject/private/
/programmingLessons/Liang_assignments/Liang_17/Liang_17_9_AddressBook/nbproject/private/