# NetBeans specific
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
/programmingLessons/Eksamensopgaver/vop15Eksamen/nbproject/private/
/programmingLessons/Eksamensopgaver/vop15ReExamF15/nbproject/private/
/programmingLessons/Eksamensopgaver/OOPExam2012/nbproject/private/
/programmingLessons/Eksamensopgaver/VOPExam2014/nbproject/private/
/programmingLessons/Liang_assignments/Liang_20/Liang_20_6/nbproject/private/
/programmingLessons/Liang_assignments/Liang_7/Liang_7_15_eliminateDuplicatesInArray/nbproject/private/
/programmingLessons/Liang_assignments/Liang_7/Liang_7_18_bubbleSort/nbproject/private/